body {
  background-color: black;
  text-align: center;
}

h1, h2 {
  margin: 10px;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 3px;
}
.box {
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
}

#red.box{
  background-color:red;
}

#blue.box {
  background-color:blue;
}

#green.box{
  background-color:green;
}

#yellow.box {
  background-color:yellow;
}

#pink.box {
  background-color:hotpink;
}

p{
  clear:both;
}

button {
  margin: 10px;
}
