.box {
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
}

#red.box{
  background-color:red;
}

#blue.box {
  background-color:blue;
}

#green.box{
  background-color:green;
}

#yellow.box {
  background-color:yellow;
}
